<!DOCTYPE html>
<html lang="en"
    xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create task</title>
    <link rel="stylesheet" th:href="@{/css/todo.css}">
</head>
<body>
<div class="form-container">
    <div class="form">
        <div class="title">
            Create task
        </div>
        <form action="#" th:action="@{/todo/createtask}" th:object="${item}" method="post">
            <input type="hidden" th:field="*{project}">
            <input type="hidden" th:field="*{done}">
            <div class="form-item">
                <input type="text" th:field="*{name}" placeholder="Task Name" required>
            </div>
            <div class="form-item">
                <input type="submit" value="Create">
            </div>
        </form>
    </div>
</div>
</body>
</html>