<!DOCTYPE html>
<html lang="en"
    xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main page</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="projects">
        <div class="item item-header">
            Projects
        </div>
        <div th:each="project : ${projectList}" class="item"  th:onclick="|window.location.href='/?projectid=${project.id}'|">
            <span th:if="${currentProjectId == project.id}"> > </span><span th:text="${project.name}"></span>
        </div>
        <div class="item item-footer">
            <div class="item-footer-plus" th:onclick="|window.location.href='/createproject'|">+</div>
            <div class="separator"></div>
            <div class="item-footer-minus" th:onclick="|window.location.href='/deleteproject?projectid=${currentProjectId != null ? currentProjectId : -1}'|">-</div>
        </div>
    </div>
    <div class="items">
        <div class="item item-header">
            Not done
        </div>
        <div th:each="item : ${itemsNotDone}" class="item small" th:onclick="|window.location.href='/?projectid=${currentProjectId}&taskid=${item.id}'|">
            <span th:if="${currentTaskId == item.id}"> > </span><span th:text="${item.name}"></span>
        </div>
        <div class="item item-footer">
            <div class="item-footer-plus" th:if="${currentProjectId}" th:onclick="|window.location.href='/createtask?projectid=' + ${currentProjectId}|">+</div>
            <div class="item-footer-plus" th:unless="${currentProjectId}" th:onclick="">+</div>
            <div class="separator"></div>
            <div class="separator"></div>
            <div class="item-footer-minus">-</div>
        </div>
    </div>
    <div class="items">
        <div class="item item-header">
            Done
        </div>
        <div th:each="item : ${itemsDone}" class="item small" th:onclick="|window.location.href='/?projectid=${currentProjectId}&taskid=${item.id}'|">
            <span th:if="${currentTaskId == item.id}"> > </span><span th:text="${item.name}"></span>
        </div>
        <div class="item item-footer">
            <div class="item-footer-plus" th:if="${currentProjectId}" th:onclick="|window.location.href='/createtask?projectid=' + ${currentProjectId} + '&isdone=true'|">+</div>
            <div class="item-footer-plus" th:unless="${currentProjectId}" th:onclick="">+</div>
            <div class="separator"></div>
            <div class="separator"></div>
            <div class="item-footer-minus">-</div>
        </div>
    </div>
</div>
</body>
</html>